astroid>=1.0.1
cffi>=0.8.2
cov-core>=1.7
coverage>=3.7.1
docutils>=0.11
gnupg>=1.2.5
Jinja2>=2.7.2
logilab-common>=0.61.0
MarkupSafe>=0.19
mock>=1.0.1
py>=1.4.20
pycparser>=2.10
Pygments>=1.6
pylint>=1.1.0
pytest-cov>=1.6
pytest>=2.5.2
requests>=2.2.1
Sphinx>=1.2.2
scrypt>=0.6.1
sphinx_rtd_theme>=0.1.6
tox>=1.7.1
virtualenv>=1.11.4
wsgiref>=0.1.2
