Jinja2>=2.7.2
MarkupSafe>=0.19
Pygments>=1.6
Sphinx>=1.2.2
astroid>=1.0.1
cffi>=0.8.2
cov-core>=1.7
coverage>=3.7.1
docutils>=0.11
logilab-common>=0.61.0
mock>=1.0.1
py>=1.4.20
pycparser>=2.10
pylint>=1.1.0
pytest>=2.5.2
pytest-cov>=1.6
requests>=2.2.1
tox>=1.7.1
virtualenv>=1.11.4
wsgiref>=0.1.2
